node_modules
pnpm-lock.yaml
yarn.lock
.env
.env.*
dist
build
coverage
.vscode
.DS_Store
.tmp
prisma/generated
app/frontend/node_modules
app/backend/node_modules
postgres-data
playwright-report
playwright/.cache
.cypress-cache
*.tsbuildinfo
.terraform/
*.tfstate
*.tfstate.backup
